{% load static %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>
            {% block title %}
            {% endblock %}
        </title>

		<link href="{% static 'shop/web/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
		<script src="{% static 'shop/web/js/jquery.min.js' %}"></script>
		 <!-- Custom Theme files -->
		<link href="{% static 'shop/web/css/style.css' %}" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
   		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
   		 <!-- webfonts -->
   		 <link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
   		 <link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
   		 <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
   		  <!-- webfonts -->
	</head>
	<body>
		<!-- container -->

		<!-- header -->
         {% include 'components/_header.html' %}
		<!-- header -->

		<!--- top-nav -->
        {% include 'components/_top_nav.html' %}
		<!--- top-nav -->

		<!-- script-for-nav -->
		<script>
			$(document).ready(function(){
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle(500);
				});
			});
		</script>
		<!-- /script-for-nav -->

		<!-- banner -->
        {% include 'components/_banner.html' %}
		<!-- banner -->

        {%  block main %}
        {% endblock main %}

		<!-- footer -->
        {% include 'components/_footer.html' %}

		<!-- footer -->

		<!-- container -->
	</body>
</html>

