{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{%  block main %}
{% include 'shop/components/_sort.html' %}

<main>
    <div class="bottom-grids">
			<div class="container">
				<div class="col-md-9 bottom-grids-left">
					<div class="f-products">
						<h2>{{ category }}</h2>
							<!----sreen-gallery-cursual---->
						<div class="sreen-gallery-cursual">
							 <!-- requried-jsfiles-for owl -->
							<link href="{% static 'shop/web/css/owl.carousel.css' %}" rel="stylesheet">
							    <script src="{% static 'shop/web/js/owl.carousel.js' %}"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo").owlCarousel({
									        items : 3,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  false,
									        pagination : false,
									      });
									    });
									   </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel text-center">
                                   {% for product in products %}
					                <div class="item">
					                	<div onclick="location.href='{{ product.get_absolute_url }}'" class="product-grid">
                                            {% include 'shop/components/_product_card.html' %}

										</div>
					                </div>
                                   {% endfor %}
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p2.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$89</span>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p3.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$149</span>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p1.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$129</span>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p3.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$129</span>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
				              </div>
						<!--//sreen-gallery-cursual---->

					</div>
				</div>
				<div class="d-products f-products">
						<h2>Скидки</h2>
							<!----sreen-gallery-cursual---->
<!--						<div class="sreen-gallery-cursual">-->
<!--							 &lt;!&ndash; requried-jsfiles-for owl &ndash;&gt;-->
<!--							<link href="{% static 'shop/web/css/owl.carousel.css' %}" rel="stylesheet">-->
<!--							    <script src="{% static 'shop/web/js/owl.carousel.js' %}"></script>-->
<!--							        <script>-->
<!--									    $(document).ready(function() {-->
<!--									      $("#owl-demo1").owlCarousel({-->
<!--									        items : 3,-->
<!--									        lazyLoad : true,-->
<!--									        autoPlay : true,-->
<!--									        navigation : true,-->
<!--									        navigationText :  false,-->
<!--									        pagination : false,-->
<!--									      });-->
<!--									    });-->
<!--									   </script>-->
<!--							 &lt;!&ndash; //requried-jsfiles-for owl &ndash;&gt;-->
<!--							 &lt;!&ndash; start content_slider &ndash;&gt;-->
<!--						       <div id="owl-demo1" class="owl-carousel text-center">-->
<!--					                <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p4.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$129</span>-->
<!--														<label> </label>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p5.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$86</span>-->
<!--														<label> </label>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p6.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$149</span>-->
<!--														<label> </label>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p1.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$129</span>-->
<!--														<label> </label>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--					                 <div class="item">-->
<!--					                	<div onclick="location.href='single-page.html';" class="product-grid">-->
<!--											<div class="product-pic">-->
<!--												<img src="{% static 'shop/web/images/p4.jpg' %}" title="Elliot Boots" />-->
<!--											</div>-->
<!--											<div class="product-pic-info">-->
<!--												<h3><a href="#">Elliot Boots</a></h3>-->
<!--												<div class="product-pic-info-price-cart">-->
<!--													<div class="product-pic-info-price">-->
<!--														<span>$129</span>-->
<!--														<label> </label>-->
<!--													</div>-->
<!--													<div class="product-pic-info-cart">-->
<!--														<a class="p-btn" href="#">Buy now</a>-->
<!--													</div>-->
<!--													<div class="clearfix"> </div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--					                </div>-->
<!--				              </div>-->
<!--						&lt;!&ndash;//sreen-gallery-cursual&#45;&#45;&ndash;&gt;-->

<!--					</div>-->
				</div>
				</div>
				<div class="col-md-3 bottom-grids-right">
					<h2>Эксклюзивные предложения</h2>
					<p>Подпишитесь на нашу рассылку и получайте эксклюзивные предложения прямо на свой почтовый ящик.</p>
					<form>
						<input type="text" class="text" value="Type your email address ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type your email address ...';}">
						<input type="submit" value="" />
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
</main>
{% endblock main %}