{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block title %}
{{ title }}
{% endblock %}

{%  block main %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		<!-- Product-Details-page -->
		<div class="details-page">
			<div class="content details-page">
			<!---start-product-details--->
			<div class="product-details">
				<div class="container">
<!--					<ul class="product-head">-->
<!--						<li><a href="index.html">Home</a> <span>::</span></li>-->
<!--						<li class="active-page">{{ product }}</li>-->
<!--						<div class="clearfix"> </div>-->
<!--					</ul>-->
				<!----details-product-slider--->
				<!-- Include the Etalage files -->
					<link rel="stylesheet" href="{% static 'shop/web/css/etalage.css' %}">
					<script src="{% static 'shop/web/js/jquery.etalage.min.js' %}"></script>
				<!-- Include the Etalage files -->
				<script>
						jQuery(document).ready(function($){

							$('#etalage').etalage({
								thumb_image_width: 300,
								thumb_image_height: 400,
								source_image_width: 900,
								source_image_height: 1000,
								show_hint: true,

							});
							// This is for the dropdown list example:
							$('.dropdownlist').change(function(){
								etalage_show( $(this).find('option:selected').attr('class') );
							});

					});
				</script>
				<!----//details-product-slider--->
				<div class="details-left">
					<div class="details-left-slider">
						<ul id="etalage" class="etalage" style="display: block; width: 314px; height: 552px;">
                            {% for image in product.images.all %}
							<li class="etalage_thumb thumb_{{ forloop.counter }}">

									<img class="etalage_thumb_image" src="{{ image.image.url }}" style="display: inline; width: 300px; height: 400px; opacity: 1;">
									<img class="etalage_source_image" src="{{ image.image.url }}">
								</a>
							</li>
                            {% endfor %}
<!--							<li class="etalage_thumb thumb_3 etalage_thumb_active" style="display: list-item; opacity: 1; background-image: none;">-->
<!--								<img class="etalage_thumb_image" src="{{ image.image.url }}" style="display: inline; width: 300px; height: 400px; opacity: 1;">-->
<!--								<img class="etalage_source_image" src="{{ image.image.url }}">-->
<!--							</li>-->
                        </ul>
					</div>

					<div class="details-left-info">
						<div class="details-right-head">
						<h1>{{ product.title }}</h1>
						<ul class="pro-rate">
                            {% if request.user.is_authenticated %}
                                <div class="container">
                                    <form action="{% url 'save_review' product.pk %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ review_form }}
                                    <button class="btn btn-success">Оставить отзыв</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="container">
                                    <h4 class=text-center"">
                                        Отзывы могут оставлять только зарегистрированные пользователи
                                        <a href="{% url 'login_registration' %}">Войти/Зарегистрироваться</a>
                                    </h4>
                                </div>

                            {% endif %}

<!--							<li><a href="#">0 отзывов Добавить отзыв</a></li>-->
						</ul>
						<p class="product-detail-info">{{ product.description }}</p>
						<a class="learn-more" href="#product-details" class="scroll-link"><h2>ПОДРОБНЕЕ</h2></a>
						<div class="product-more-details">
							<ul class="price-avl">
								<li class="price"><label>BYN {{ product.price }}</label></li>
								<div class="clearfix"> </div>
							</ul>
<!--							<ul class="product-colors">-->
<!--								<h3>доступные цвета ::</h3>-->
<!--								<li><a class="color1" href="#"><span> </span></a></li>-->
<!--								<li><a class="color2" href="#"><span> </span></a></li>-->
<!--								<li><a class="color3" href="#"><span> </span></a></li>-->
<!--								<li><a class="color4" href="#"><span> </span></a></li>-->
<!--								<li><a class="color5" href="#"><span> </span></a></li>-->
<!--								<li><a class="color6" href="#"><span> </span></a></li>-->
<!--								<li><a class="color7" href="#"><span> </span></a></li>-->
<!--								<li><a class="color8" href="#"><span> </span></a></li>-->
<!--								<div class="clearfix"> </div>-->
<!--							</ul>-->
<!--							<ul class="prosuct-qty">-->
<!--								<span>Количество:</span>-->
<!--								<select>-->
<!--									<option>1</option>-->
<!--									<option>2</option>-->
<!--									<option>3</option>-->
<!--									<option>4</option>-->
<!--									<option>5</option>-->
<!--									<option>6</option>-->
<!--								</select>-->
<!--							</ul>-->

                            {% if request.user.is_authenticated %}
                                {% get_favorite_products request.user as fav_products %}
                            {% endif %}

                            {% if product in fav_products and request.user.is_authenticated %}
                                <a href="{% url 'add_favorite' product.slug %}" class="favorite-btn" title="Удалить из избранного">
                                    <i class="fas fa-heart" style="color:red"></i>Удалить из избранного</a>
                            {% else %}
                                <a href="{% url 'add_favorite' product.slug %}" class="favorite-btn" title="Добавить в избранное">
                                    <i class="fas fa-heart" style="color:black"></i>Добавить в избранное</a>
                            {% endif %}
                            <a href="{% url 'to_cart' product.pk 'add' %}"><input type="button" value="ДОБАВИТЬ В КОРЗИНУ"></a>


                            <div id="product-details" class="product-details-section">
                            <h2>Подробное описание товара</h2>
                                <p>{{ product.info }}</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                <!-- остальные детали товара -->
                            </div>

                            <!-- Ссылка для возврата -->
                            <a href="#top" class="back-to-top">↑ Наверх</a>




<!--							<ul class="product-share">-->
<!--								<h3>All so Share On</h3>-->
<!--								<ul>-->
<!--									<li><a class="share-face" href="#"><span> </span> </a></li>-->
<!--									<li><a class="share-twitter" href="#"><span> </span> </a></li>-->
<!--									<li><a class="share-google" href="#"><span> </span> </a></li>-->
<!--									<li><a class="share-rss" href="#"><span> </span> </a></li>-->
<!--									<div class="clearfix"> </div>-->
<!--								</ul>-->
<!--							</ul>-->
						</div>
					</div>
					</div>
					<div class="clearfix"> </div>
				</div>
<!--				<div class="details-right">-->

<!--				</div>-->

				<div class="clearfix"> </div>
			</div>
			<!---//End-product-details--->
			</div>
{% include 'shop/components/_trending_products_cat_rand.html' %}
		</div>
		</div>
        <div class="container">

                <h3>ОТЗЫВЫ</h3>

        </div>
        {% for review in reviews %}
        <div class="container">

            <h4>{{ review.author.username }}: </h4>
            <p>{{ review.created_aat }}</p>
            <p>{{ review.text }}</p>
        </div>
        {% endfor %}
		<!-- /Product-Details-page -->

	</body>
</html>





{% endblock main %}