{% load static %}
        <div class="header">
			<!-- top-header -->
			<div class="top-header">
				<div class="container">
					<div class="rigister-info">
						<ul>
                            {% if request.user.is_authenticated %}
							<li><a href="{% url 'user_logout' %}">{{ user.username }} Выйти</a></li>
<!--							<li><a href="{% url 'login_registration' %}">Зарегистрироваться</a></li>-->
                            {% else %}
                            <li><a href="{% url 'login_registration' %}">Войти/Зарегистрироваться</a></li>
                            {% endif %}
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- /top-header -->
			<!-- bottom-header -->
			<div class="bottom-header">
				<div class="container">
					<div class="bottom-header-left">
						<p>Лучшая кожа и лучшие мастера</p>
					</div>
					<div class="logo">
						<a href="{% url 'index' %}"><img src="{% static 'shop/web/images/logo_3.png' %}" title="gaia" /></a>
					</div>
					<div class="bottom-header-right">
						<ul>

							<li>
								{% if request.user.is_authenticated %}
                            <a href="{% url 'favorite_product_page' %}">Хочу купить</a>
                        {% else %}
                            <a href="{% url 'login_registration' %}">Хочу купить</a>
                        {% endif %}
							</li>
							<li> {% if request.user.is_authenticated %}
                            <a href="{% url 'cart' %}">Корзина</a>
                        {% else %}
                            <a href="{% url 'login_registration' %}">Корзина</a>
                        {% endif %}
							</li>
							<li>{% if request.user.is_authenticated %}
                            <a href="{% url 'checkout' %}">Оформить заказ</a>
                        {% else %}
                            <a href="{% url 'login_registration' %}">Оформить заказ</a>
                        {% endif %}
							</li>
						</ul>

					</div>
				</div>
			</div>
			<!-- /bottom-header -->
		</div>