		<div class="top-nav">
			<div class="container">
				<span class="menu"> </span>
				<ul>
					<li class="active"><a href="index.html">Главная<span> </span></a></li>
					<li><a href="collections.html">Колекции<span> </span></a></li>
					<li><a href="404.html">Новые поступления<span> </span></a></li>
					<li><a href="404.html">Распродажа<span> </span></a></li>
					<li><a href="404.html">Аксесуары<span> </span></a></li>
					<li><a href="about.html">О нас<span> </span></a></li>
					<li><a href="contact.html">Контакты<span> </span></a></li>
					<div class="clearfix"> </div>
				</ul>
			</div>
		</div>